* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
h1,
a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 144px;
  text-decoration: none;
  text-transform: uppercase;
}
h4 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #0f0d15;
  line-height: 100%;
}
h5 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #8e8c94;
}
.main-screen0 {
  display: flex;
  align-items: center;
  /*   justify-content: space-between; */
  width: 100%;
  position: absolute;
}
.main-screen {
  display: flex;
  flex-direction: column;
  background-color: #ff6e01;
  width: 1280px;
  height: 843px;
  padding-left: 238px;
  padding-top: 37px;
}
#main-title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 114px;
  font-weight: 700;
  line-height: 78.5%;
  color: #ffffff;
  text-decoration: none;
  text-transform: lowercase;
  margin-bottom: 18px;
  margin-top: 172px;
}
p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  max-width: 334px;
  margin-bottom: 42px;
}
.p-feature {
  margin-left: 121px;
}

.white {
  color: #ffffff;
  text-decoration: none;
}

.white-button {
  background-color: #f4f4f4;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #023e8a;
  border: 0;
  padding: 16px 64px;
  border-radius: 18px;
  max-width: 241px;
}

.skate1 {
  max-width: 120%;
  display: block;
  position: absolute;
  top: 70px;
  left: 786px;
  width: 725px;
  height: 841px;
}
